
env/
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo

.env
.env.*

*.vscode/
.idea/
*.swp


*.log

*.sqlite3
*.db


*.egg-info/
dist/
build/
.eggs/
.cache/
.pytest_cache/
*.pyc
alembic/versions/*.pyc
nota.txt

.DS_Store
Thumbs.db

# Conda
*.conda
*.lock

*.code-workspace

# Firebase credentials
firebase_credentials/
firebase-adminsdk-*.json
firebase_key.json